@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 0.6s linear;
}


.scroll-marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.scroll-marquee {
  display: inline-flex;
  animation: scrollLeft 90s linear infinite;
}

.no-scroll {
  animation: none;
}

.scroll-marquee:hover {
  animation-play-state: paused;
}



